<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h4>Total Employees</h4></mat-card-title>
      <mat-card-subtitle><h3>{{TotalEmployees}}</h3></mat-card-subtitle>
    </mat-card-header>
  </mat-card>

   <mat-card>
     <mat-card-header>
       <mat-card-title><h4>Present Today</h4></mat-card-title>
       <mat-card-subtitle><h3>{{presentToday}}</h3></mat-card-subtitle>
     </mat-card-header>
   </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><h4>Todays Attendance</h4></mat-card-title>
      <mat-card-subtitle><h3>{{todaysAttendance}} %</h3></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
